<?xml version="1.0" ?>
<launch>
  <arg name="robot_namespace" default=""/>
  <!-- Spawn the example robot -->
  
  <arg name="gpu" default="true"/>
  <arg name="organize_cloud" default="true"/>
  <param name="lidar_description" command="$(find xacro)/xacro  '$(find vehicle_simulator)/urdf/lidar.urdf.xacro' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu) " />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_lidar" args="-urdf -param  lidar_description -model lidar -robot_namespace $(arg robot_namespace) -x 0 " />
  <!-- ns:=ares2 -->
  <param name="robot_description" command="$(find xacro)/xacro  '$(find vehicle_simulator)/urdf/robot.urdf.xacro' " />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" args="-urdf -param robot_description -model robot -robot_namespace $(arg robot_namespace) -x 0 " />

  <param name="camera_description" command="$(find xacro)/xacro  '$(find vehicle_simulator)/urdf/camera.urdf.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_camera" args="-urdf -param camera_description -model camera -robot_namespace $(arg robot_namespace) -x 0 "/>


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="publish_rate" type="double" value="20.0" />
  </node>

</launch>
