<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="$(find vehicle_simulator)/world/garage.world"/>

  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>


<group ns="robot1">
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="vehicleX" default="0"/>
  <arg name="vehicleY" default="0"/>
  <arg name="terrainZ" default="0"/>
  <arg name="vehicleYaw" default="0"/>
  <!-- if use gazebo, set "true" -->
  <!-- <arg name="gazebo_gui" default="false"/> -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="checkTerrainConn" default="true"/>

  <!-- <include file="$(find ps3joy)/launch/ps3.launch" /> -->

  <include file="$(find local_planner)/launch/local_planner2.launch" >
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="goalX" value="$(arg vehicleX)"/>
    <arg name="goalY" value="$(arg vehicleY)"/>
    <arg name="sensorOffsetX" default="0"/>
    <arg name="sensorOffsetY" default="0"/>
  </include>

  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <include file="$(find vehicle_simulator)/launch/add/little_robot_1.launch" >
    <!-- 名字和命名空间一致 -->
    <arg name="robot_namespace" value="robot1"/> 
  </include>

  <include file="$(find vehicle_simulator)/launch/add/vehicle_simulator_robot1.launch" >
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
  </include>

  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />

  <include file="$(find visualization_tools)/launch/visualization_tools.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

</group>


<!-- 
<group ns="robot2">
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="vehicleX" default="1"/>
  <arg name="vehicleY" default="0"/>
  <arg name="terrainZ" default="0"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="checkTerrainConn" default="true"/>

  <arg name="sensorOffsetX" default="1"/>
  <arg name="sensorOffsetY" default="0"/>

  <include file="$(find local_planner)/launch/local_planner3.launch" >
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="goalX" value="$(arg vehicleX)"/>
    <arg name="goalY" value="$(arg vehicleY)"/>
    <arg name="sensorOffsetX" value="$(arg sensorOffsetX)"/>
    <arg name="sensorOffsetY" value="$(arg sensorOffsetY)"/>
  </include>

  <include file="$(find terrain_analysis)/launch/terrain_analysis2.launch" />

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext2.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <include file="$(find vehicle_simulator)/launch/add/little_robot_2.launch" >
    <arg name="robot_namespace" value="robot2"/> 
  </include>

  <include file="$(find vehicle_simulator)/launch/add/vehicle_simulator_robot2.launch" >
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="sensorOffsetX" value="$(arg sensorOffsetX)"/>
    <arg name="sensorOffsetY" value="$(arg sensorOffsetY)"/>
  </include>

  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation2.launch" />

</group> -->



  <!-- RViz -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" />

</launch>

