<?xml version="1.0" ?>
<launch>
  <arg name="robot_namespace" default=""/>
  <!-- Spawn the example robot -->
  

  <param name="tf_prefix" value="robot1" />

  <param name="lidar_description" command="$(find xacro)/xacro --inorder '$(find vehicle_simulator)/urdf/lidar.urdf.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_lidar" args="-urdf -param lidar_description -model lidar"/>
  <!-- ns:=ares2 -->
  <param name="robot_description" command="$(find xacro)/xacro  '$(find vehicle_simulator)/urdf/robot.urdf.xacro' " />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot1" args="-urdf -param robot_description -model robot " />

  <param name="camera_description" command="$(find xacro)/xacro --inorder '$(find vehicle_simulator)/urdf/camera.urdf.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_camera" args="-urdf -param camera_description -model camera "/>


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>


</launch>
